#share-details {
  display: none;
}

.user-selector input {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.user-selector .user-list {
  padding: 10px 15px;
  border: 1px solid #e7e8e5;
  box-sizing: border-box;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: none;
  min-height: 150px;
}

.user-selector .user {
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
  background: #3563b7;
  border-radius: 8px;
  font-weight: bold;
  font-size: 10px;
  line-height: 11px;
  color: #fff;
}

.offer-items {
  display: flex;
  justify-content: space-between;
}

.offer-item {
  cursor: pointer;
  outline: none;
  width: 40px;
  height: 40px;
  border: none;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 126, 249, 0.08);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: #878787;
}

.offer-item.active {
  background: #3563b7;
  color: #fff;
}

.totals {
  padding: 15px;
  background: #f3fbff;
  border-radius: 10px;
  width: 100%;
}

.totals .total-desc {
  display: inline-block;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #878787;
}

.totals .total-value {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #3563b7;
}

#panel-detail-af,
#panel-detail-ao,
#panel-detail-ac,
#panel-detail-al,
#user-selector-af,
#user-selector-al {
  display: none;
}

.ccard.auto-follow {
  margin-bottom: 30px;
}

.has-overlay {
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 10000;
}

input[name="goal_toggle"]:checked ~ .overlay {
  display: none;
}

#credentialsModal .modal-dialog{
  width: 354px;
  min-height:auto;
  height: 624px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 100px auto;
}

#credentialsModal .modal-content{
  height: inherit;
  background-color: #583134;
  border: none;
  border-radius: inherit;
}

#credentialsModal .modal-header, #successmodal .modal-header{
  border-bottom: none;
  display: block;
}

#credentialsModal .modal-title{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  color: #FFFFFF;
  font-size: 0.75rem;
}

#credentialsModal .cross-bt{
  color: #FFFFFF;
}

#credentialsModal .modal-body{
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

#credentialsModal .mark-font{
  color: #FFFFFF;
  font-size: 30px;
  margin-top: -15px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

#credentialsModal .modal-form{
  width: 260px;
}

#credentialsModal .spacer{
  margin-top: 28px;
}

#credentialsModal .login-bt{
  width: -webkit-fill-available;
  border: none;
  border-radius: 5px;
  background-color: #7a454a;
  color: #FFFFFF;
  padding: 13px;
}

#credentialsModal .input-size{
  padding: 20px; 
}

#credentialsModal .radius-maker{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; 
}

#credentialsModal .radius-destroyer{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; 
}

#successmodal .modal-dialog{
  width: 383px;
  min-height:auto;
  height: 204px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 250px auto;
}

#successmodal .modal-content{
  height: inherit;
  background-color: #FFFFFF;
  border: none;
  border-radius: inherit;
}

#successmodal .modal-body{
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}

#successmodal .modal-title{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  color: #545454;
  margin-top: 24px;
}

#successmodal .modal-content{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  color: #545454;
  margin-top: 18px;
  font-size: 0.875rem;
}

#successmodal .cross-bt{
  color: #262626;
  padding:4px;
}

#successmodal .font-art{
  color: #FFFFFF;
}

#wrapper .hidden{
  display: none;
}

#mark {
  position: absolute;
  top: 0px;
  left: 62px;
  z-index: 3;
  width: 27px;
  height: 27px;
}

.logo-font{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 0.975rem;
  line-height: 20px;
  color: #545454;
}

.btn-font{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  margin-left: 10px;
  color: #FFFFFF;
}

#avatar {
  width: 55px;
  height: 55px;
}

.radius-revise-maker{
  background: #D93A30;
  box-shadow: 0px 4px 30px rgba(0, 126, 249, 0.1);
  border-radius: 20px;
  margin-top: 15px;
  padding: inherit;
}

.image-revise{
  width: 13px;
  height: 10px;
}

input {
    border: none !important;
    box-sizing: border-box;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

@media (min-width: 768px) {
  .user-selector .user-list {
    min-height: 300px;
  }

  .ccard.auto-follow {
    margin-bottom: 0;
  }
}

